# LabVIEW project temporary files.
*.aliases
*.lvlps

#LabVIEW builds
[Bb]uild/
[Bb]uilds/

#InstrumentStudio
*.[Cc]ache/

#Package builder
[Pp]ackages/
ProcessingStage/
package/log-ClassDAmplifier.txt
